<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HH Vacancies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <div class="container text-center">
            <h1>HeadHunter Vacancies Research</h1>
        </div>
    </header>
    <div class="mycontainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footercontainer">
            &copy; 2021 - HeadHunter Vacancies Research
        </div>
        <div class="footerright footercontainer">
            Contacts:
            <div class="footercontainer">
                <img class="rounded-circle githubimages" target="_blank" rel="noopener noreferrer" src="@Resources.ImageLinks.GitHubProfiles.ngrits" />
                <a href="https://github.com/Nikitagritsaenko">N. Gritsaenko</a>
            </div>
            <div class="footercontainer">
                <img class="rounded-circle githubimages" target="_blank" rel="noopener noreferrer" src="@Resources.ImageLinks.GitHubProfiles.azhukov" />
                <a href="https://github.com/akzhukov">A. Zhukov</a>
            </div>
            <div class="footercontainer">
                <img class="rounded-circle githubimages" target="_blank" rel="noopener noreferrer" src="@Resources.ImageLinks.GitHubProfiles.gserg" />
                <a href="https://github.com/sergeevgk">G. Sergeev</a>
            </div>
            @*<div class="footercontainer">
                <img class="rounded-circle githubimages" target="_blank" rel="noopener noreferrer" src="@Resources.ImageLinks.GitHubProfiles.pmelnik" />
                <a href="https://github.com/PawelMelnik">P. Melnik</a>
            </div>*@
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
